{% extends "base.html" %} {%block title %} Contact Us {% endblock title %}
{%block body %}

<div class="container-fluid px-0">
  <img
    src="/static/images/contact_us.jpeg"
    class="d-block w-100 mx-0"
    alt="..."
    width="1200"
    height="400"
  />
</div>
<div class="container py-4" style="padding-bottom: 2rem">
  <h1 style="text-align: center; padding-top: 1rem">Contact Us</h1>
  <form method="post" action = "/contact-us/">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter your name"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter your email"
      />
    </div>
<div class="form-group">
      <label for="phone">Phone No.</label>
      <input
        type="phone"
        class="form-control"
        id="phone"
        name="phone"
        placeholder="Enter your phone number"
      />
    </div>

    <div class="form-group">
      <label for="desc">Describe your issue ...</label>
      <textarea
        class="form-control"
        id="desc"
        name="desc"
        rows="3"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-success" style="margin-top: 1rem;">Submit</button>
  </form>
</div>
{% endblock body %}
